@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  height: 100%;
  width: 100%;
  background: #061743;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-family: cursive;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  color: rgb(22, 89, 120);
  text-shadow: 0 0 20px rgb(99, 123, 160);
  margin-left: -100px;
}
.text a {
  color: rgb(69, 20, 245);
}
.text a:hover {
  color: white;
  text-shadow: 0 0 20px rgb(49, 25, 235);
}
  